/*  * Font Utilizzati = 'Press Start 2P', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* * Nella Sezione Root Puoi Salvare Delle Variabile Per Poi Poterle Utilizzare Comodamente In Qualisiasi Elemento Richiamandola Con Var: Nome Variabile (Attenzione! Prima Di Mettere Var Bisogna Comunque Specificare Su Cosa Si Andra A Lavorare (Come Ad Esempio Un Background-Color))*/
:root {

  /* * Generale */
  --Backgroudn-Title: linear-gradient(-160deg, #ffc933 0%, #cc99ff 50%,  #ff99cc);
  --Background-Btn: linear-gradient(45deg, #cc99ff, #ff99cc, #fedb7c, #ffffff, #b062fe, #ff6bb5, #ffc933);
  --Font-Family: 'Press Start 2P', cursive;

  /* * Sezione Cursore */
  --Height-Cursor: 35px;
  --Width-Cursor: 35px;

  /* ! Schermata Acconsenti Per Giocare + Caricamento */

  /* * Sezine Acconsenti Per Giocare */
  --Height-Container-Agree: 600px;
  --Width-Container-Agree: 1400px;
  --Font-Size-Title-Agree: 35px;
  --Font-Size-Description-Agree: 20px;
  --Height-Btn-Agree: 125px;
  --Width-Btn-Agree: 400px;
  --Font-Size-Btn-Agree: 40px;
  --Background-Container-Agree: gray;


  /* ! Schermata Home / Seleziona Modalita Di Gioco / Impostazioni Audio */

  /* * Sezione Titolo = Home */
  --Font-Size-Title: 85px;

  /* * Sezione Titolo = Home / Seleziona Modalita Di Gioco / Impostazioni Audio */
  --Font-Size-Subtitle: 60px;

  /* * Sezione Descrizione Modalita Di Gioco */
  --Font-Size-Description: 40px;

  /* * Sezione Buttone = Play / Audio / Standard Mode / Hardcore Mode */
  --Height-Btn: 100px;
  --Width-Btn: 600px;
  --Font-Size-Btn: 45px;

  /* * Sezione Buttone Torna Alla Home = Indietro */
  --Height-Btn-BackToHome: 50px;
  --Width-Btn-BackToHome: 125px;
  --Font-Size-Btn-BackToHome: 10px;
  
  /* * Sezione Slider */
  --Height-Container-Slider: 100px;
  --Width-Container-Slider: 400px;
  --Height-Slider: 20px;
  --Width-Slider: 280px;
  --Height-Slider-Circle: 15px;
  --Width-Slider-Circle: 15px;
  --Font-Size-Slider: 15px;
  --Background-Container-Slider: gray;
  --Background-Slider: #B2F695;
  --Background-Slider-Circle: #FFBE79;

  /* ! Schermata Game = Modalita Standard / Game = Modalita Hardcore */

  /* * Sezione StartGame */
  --Height-Container-StartGame: 900px;
  --Width-Container-StartGame: 1500px;
  --Height-Vertical-Line: 890px;
  --Width-Vertical-Line: 690px;

  /* * Sezione How To Play */
  --Height-Container-HowToPlay: 890px;
  --Width-Container-HowToPlay: 800px;
  --Font-Size-Title-HowToPlay: 50px;
  --Font-Size-Description-HowToPlay: 24px;
  --Height-Btn-Start: 125px;
  --Width-Btn-Start: 400px;
  --Font-Size-Btn-Start: 40px;
  --Color-HowToPlay: rgba(255, 255, 255, 0.75);

  /* * Sezione MusicSetting */
  --Height-Container-Music: 450px;
  --Width-Container-Music: 685px;
  --Font-Size-Title-Music: 50px;
  --Music-Height-Form: 260px;
  --Music-Width-Form: 230px;
  --Music-Border-Radius: 10px;
  --Music-CheckedDisabled: red;
  --Music-CheckedEnabled: green;
  --Music-CheckedFocusModeEnabled: rgb(19, 86, 187);
  --Music-Radio-Size: 20px;
  --Music-Background: rgba(0, 0, 0, 0.16);
  --Color-Music: rgba(255, 255, 255, 0.75);
  --Music-Radio: #ffffff;
  --Music-Color-Text: #ffffff;
  --Font-Size-Description-Music: 17px;

  /* * Sezione ChooseColorSetting */
  --Height-Container-ChooseColor: 435px;
  --Width-Container-ChooseColor: 685px;
  --Font-Size-Title-ChooseColor: 50px;
  --ChooseColor-Height-Form: 260px;
  --ChooseColor-Width-Form: 230px;  
  --ChooseColor-Border-Radius: 10px;
  --ChooseColor-CheckedYellow: #FEDA75;
  --ChooseColor-CheckedOrange: #FFBE79;
  --ChooseColor-CheckedRed: #FF5151;
  --ChooseColor-CheckedPurple: #9966CC;
  --ChooseColor-CheckedBlue: #A5D3FE;
  --ChooseColor-CheckedGreen: #B2F695;
  --ChooseColor-Radio: #ffffff;
  --ChooseColor-Color-Text: #ffffff;
  --ChooseColor-Background: rgba(0, 0, 0, 0.16);
  --Color-ChooseColor: rgba(255, 255, 255, 0.75);
  --Font-Size-Description-Music: 17px;
  --Font-Size-Description-ChooseColor: 15px;
  --ChooseColor-Radio-Size: 20px;
}

/* * Reset Dei Margini + Padding / Background (Gif) / Rispettive Indicazioni Per Avere Un Background Responsive */
body{
margin: 0;
padding: 0;
background: url(../Img/BackGround.gif);
background-size: 1920px 1080px;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
}

/* *Cursore */
*{
cursor: none;
}

#Cursor{
z-index: 100;
position: absolute;
top: 50%;
left: 50%;
border: 8px solid #A5D3FE;
background-color: white;
height: var(--Height-Cursor);
width: var(--Width-Cursor);
border-radius: 50px;
transform: translate(-50%, -50%);
pointer-events: none;
}

#Cursor::after, #Cursor::before{
content: "";
position: absolute;
top: 50%;
left: 50%;
height: 15px;
width: 15px;
border-radius: 50px;
}

#Cursor.click::before{
animation: click 0.7s ease forwards;
background-color: rgba(255, 255, 255, 0.75);
}

@keyframes click {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(7);
  }
}

/* ! Schermata Richiesta Di Acconsentimento Da Parte Del Player */

/* ! Sezione = /* ! Richiesta Di Acconsentimento Da Parte Del Player + Caricamento */

/* * Posizionamento Degli Elementi Presenti In Acconsenti Per Giocare (Colonna - Centro) */
.Container-YouAgree{
display: flex;
flex-direction: column;
align-items: center;
}

/* * Container Box Acconsenti Per Giocare */
.Container-Box-YouAgree{
position: relative;
margin-top: 125px;
height: var(--Height-Container-Agree);
width: var(--Width-Container-Agree);
background-color: var(--Background-Container-Agree);
opacity: 80%;
}

.Container-Box-YouAgree:before, .Container-Box-YouAgree:after{
content: "";
position: absolute;
width: 100%;
height: 100%;
box-sizing: content-box;
}

.Container-Box-YouAgree:after{
left: -6px;
top: 0;
border-left: 6px white solid;
border-right: 6px white solid;
}

.Container-Box-YouAgree:before{
top: -6px;
left: 0;
border-top: 6px white solid;
border-bottom: 6px white solid;
}

/* * Titolo Acconsenti Per Giocare / Sezione = Acconsenti Per Giocare */
.Title-YouAgree{
position: absolute;
top: 180px;
background: var(--Backgroudn-Title);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Title-Agree);
}

/* * Descrizione Acconsenti Per Giocare  / Sezione = Acconsenti Per Giocare */
.Description-YouAgree{
position: absolute;
top: 330px;
background: var(--Backgroudn-Title);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Description-Agree);
}

/* * Bottone Acconsenti / Sezione = Acconsenti Per Giocare */
.Btn-YouAgree{
position: absolute;
top: 500px;
height: var(--Height-Btn-Agree);
width: var(--Width-Btn-Agree);
background: var(--Background-Btn);
background-size: 300%;  
background-position: left;
transition: background-position 1s;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Btn-Agree);
color: #ffffff;
}

.Btn-YouAgree:hover{
background-position: right;
}

.Btn-YouAgree:before, .Btn-YouAgree:after{
content: "";
position: absolute;
width: 100%;
height: 100%;
box-sizing: content-box;
cursor: none;
}

.Btn-YouAgree:after{
left: -6px;
top: 0;
border-left: 6px white solid;
border-right: 6px white solid;
}

.Btn-YouAgree:before{
top: -6px;
left: 0;
border-top: 6px white solid;
border-bottom: 6px white solid;
}

.Container-Loader{
display: flex;
flex-direction: column;
align-items: center;
}

.Loader {
border: 16px solid white;
margin-top: 400px;
border-top: 16px solid black;
border-radius: 50%;
width: 120px;
height: 120px;
animation: Spin-Animation 2s linear infinite;
}

@keyframes Spin-Animation {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

/* ! Schermata Home / Seleziona Modalita Di Gioco / Impostazioni Audio */

/* ! Sezione = Home */

/* * Posizionamento Degli Elementi Presenti In Home (Colonna - Centro) */
.Container-Home{
display: flex;
flex-direction: column;
align-items: center;
}

/* * Titolo Home / Sezione = Home */
.Title-Home{
margin-top: 80px;
background: var(--Backgroudn-Title);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Title);
}

/* * Bottone Play / Sezione = Home */
.Btn-Play{
position: relative;
margin-top: 175px;
height: var(--Height-Btn);
width: var(--Width-Btn);
background: var(--Background-Btn);
background-size: 300%;  
background-position: left;
transition: background-position 1s;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Btn);
color: #ffffff;
}

.Btn-Play:hover{
background-position: right;
}

.Btn-Play:before, .Btn-Play:after{
content: "";
position: absolute;
width: 100%;
height: 100%;
box-sizing: content-box;
cursor: none;
}

.Btn-Play:after{
left: -6px;
top: 0;
border-left: 6px white solid;
border-right: 6px white solid;
}

.Btn-Play:before{
top: -6px;
left: 0;
border-top: 6px white solid;
border-bottom: 6px white solid;
}

/* * Bottone Audio / Sezione = Home */
.Btn-AudioSettings{
position: relative;
margin-top: 150px;
height: var(--Height-Btn);
width: var(--Width-Btn);
background: var(--Background-Btn);
background-size: 300%;  
background-position: left;
transition: background-position 1s;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Btn);
color: #ffffff;
}

.Btn-AudioSettings:hover{
background-position: right;
}

.Btn-AudioSettings:before, .Btn-AudioSettings:after{
content: "";
position: absolute;
width: 100%;
height: 100%;
box-sizing: content-box;
cursor: none;
}

.Btn-AudioSettings:after{
left: -6px;
top: 0;
border-left: 6px white solid;
border-right: 6px white solid;
}

.Btn-AudioSettings:before{
top: -6px;
left: 0;
border-top: 6px white solid;
border-bottom: 6px white solid;
}

/* ! Sezione = Selezione Modalita Di Gioco */

/* * Posizionamento Degli Elementi Presenti In Selezione Modalita Di Gioco (Colonna - Centro) */
.Container-SelectGamemode{
display: flex;
flex-direction: column;
align-items: left;
}

/* * Bottone Torna Alla Home / Sezione = Selezione Modalita Di Gioco */
.Btn-BackToHomeFromSelectGamemode{
position: absolute;
top: 86.5px;
left: 150px;
height: var(--Height-Btn-BackToHome);
width: var(--Width-Btn-BackToHome);
background: var(--Background-Btn);
background-size: 300%;  
background-position: left;
transition: background-position 1s;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Btn-BackToHome);
color: #ffffff;
}

.Btn-BackToHomeFromSelectGamemode:hover{
background-position: right;
}

.Btn-BackToHomeFromSelectGamemode:before, .Btn-BackToHomeFromSelectGamemode:after{
content: "";
position: absolute;
width: 100%;
height: 100%;
box-sizing: content-box;
cursor: none;
}

.Btn-BackToHomeFromSelectGamemode:after{
left: -6px;
top: 0;
border-left: 6px white solid;
border-right: 6px white solid;
}

.Btn-BackToHomeFromSelectGamemode:before{
top: -6px;
left: 0;
border-top: 6px white solid;
border-bottom: 6px white solid;
}

/* * Titolo Selezione Modalita Di Gioco / Sezione = Selezione Modalita Di Gioco */
.Title-SelectGamemode{
margin-top: 80px;
background: var(--Backgroudn-Title);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Subtitle);
text-align: center;
}

/* * Bottone Standard / Sezione = Selezione Modalita Di Gioco */
.Btn-StandardGamemode{
position: relative;
margin-top: 150px;
height: var(--Height-Btn);
width: var(--Width-Btn);
background: var(--Background-Btn);
background-size: 300%;  
background-position: left;
transition: background-position 1s;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Btn);
color: #ffffff;
}

.Btn-StandardGamemode:hover{
background-position: right;
}

.Btn-StandardGamemode:before, .Btn-StandardGamemode:after{
content: "";
position: absolute;
width: 100%;
height: 100%;
box-sizing: content-box;
cursor: none;
}

.Btn-StandardGamemode:after{
left: -6px;
top: 0;
border-left: 6px white solid;
border-right: 6px white solid;
}

.Btn-StandardGamemode:before{
top: -6px;
left: 0;
border-top: 6px white solid;
border-bottom: 6px white solid;
}

/* * Descrizione Bottone Modalita Standard / Sezione = Selezione Modalita Di Gioco */
.Subtitle-StandardGamemode{
position: absolute;
top: 335px;
left: 1000px;
background: var(--Backgroudn-Title);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Description);
}

/* * Bottone Hardcore / Sezione = Selezione Modalita Di Gioco */
.Btn-HardcoreGamemode{
position: relative;
margin-top: 150px;
height: var(--Height-Btn);
width: var(--Width-Btn);
background: var(--Background-Btn);
background-size: 300%;  
background-position: left;
transition: background-position 1s;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Btn);
color: #ffffff;
}

.Btn-HardcoreGamemode:hover{
background-position: right;
}

.Btn-HardcoreGamemode:before, .Btn-HardcoreGamemode:after{
content: "";
position: absolute;
width: 100%;
height: 100%;
box-sizing: content-box;
cursor: none;
}

.Btn-HardcoreGamemode:after{
left: -6px;
top: 0;
border-left: 6px white solid;
border-right: 6px white solid;
}

.Btn-HardcoreGamemode:before{
top: -6px;
left: 0;
border-top: 6px white solid;
border-bottom: 6px white solid;
}

/* * Descrizione Bottone Modalita Hardcore / Sezione = Selezione Modalita Di Gioco */
.Subtitle-HardcoreGamemode{
position: absolute;
top: 585px;
left: 1000px;
background: var(--Backgroudn-Title);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Description);
}

/* ! Sezione = Impostazioni Audio */

/* * Posizionamento Degli Elementi Presenti In Impostazioni Audio (Colonna - Centro) */
.Container-AudioSettings{
display: flex;
flex-direction: column;
align-items: center;
}

/* * Bottone Torna Alla Home / Sezione = Impostazioni Audio */
.Btn-BackToHomeFromAudioSettings{
position: absolute;
top: 86.5px;
left: 150px;
height: var(--Height-Btn-BackToHome);
width: var(--Width-Btn-BackToHome);
background: var(--Background-Btn);
background-size: 300%;  
background-position: left;
transition: background-position 1s;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Btn-BackToHome);
color: #ffffff;
}

.Btn-BackToHomeFromAudioSettings:hover{
background-position: right;
}

.Btn-BackToHomeFromAudioSettings:before, .Btn-BackToHomeFromAudioSettings:after{
content: "";
position: absolute;
width: 100%;
height: 100%;
box-sizing: content-box;
cursor: none;
}

.Btn-BackToHomeFromAudioSettings:after{
left: -6px;
top: 0;
border-left: 6px white solid;
border-right: 6px white solid;
}

.Btn-BackToHomeFromAudioSettings:before{
top: -6px;
left: 0;
border-top: 6px white solid;
border-bottom: 6px white solid;
}

/* * Titolo Impostazioni Audio / Sezione = Impostazioni Audio */
.Title-AudioSettings{
margin-top: 80px;
background: var(--Backgroudn-Title);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Subtitle);
text-align: center;
}

/* * Container Img Volume */
#ImgVolumeChange img{
position: absolute;
top: 283px;
left: 605px;
height: 150px;
width: 150px;
}

/* * Container Slider Audio + Percentuale Volume */
.Container-SliderAudio{
position: relative;
margin-top: 150px;
height: var(--Height-Container-Slider);
width: var(--Width-Container-Slider);
background-color: var(--Background-Container-Slider);
opacity: 80%;
}

.Container-SliderAudio:before, .Container-SliderAudio:after{
content: "";
position: absolute;
width: 100%;
height: 100%;
box-sizing: content-box;
}

.Container-SliderAudio:after{
left: -6px;
top: 0;
border-left: 6px white solid;
border-right: 6px white solid;
}

.Container-SliderAudio:before{
top: -6px;
left: 0;
border-top: 6px white solid;
border-bottom: 6px white solid;
}

/* * Slider */
input[type="range"]{
appearance: none;
overflow: hidden;
position: absolute;
top: 350px;
left: 780px;
height: var(--Height-Slider);
width: var(--Width-Slider);
border-radius: 10px;
border: 4px solid rgba(0, 0, 0, 0.85);
}

input[type="range"]::-webkit-slider-thumb{
appearance: none;
height: var(--Height-Slider-Circle);
width: var(--Width-Slider-Circle);
border-radius: 50%;
border: 3px solid black;
background: var(--Background-Slider);
box-shadow: -150px 0 0 150px var(--Background-Slider-Circle);
}

/* * Percentuale Volume Slider */
#VolumePercent{
position: absolute;
top: 350px;
left: 1090px;
color: white;
font-family: 'Press Start 2P', cursive;
font-size: var(--Font-Size-Slider);  
}

/* ! Schermata Game = Modalita Standard / Game = Modalita Hardcore */

/* * Container Modalita Standard */
.Container-StandardGameMode{
display: flex;
flex-direction: column;
align-items: center;
}

/* * Container Schermata Di Start */
.Container-StartGame{
margin-top: 70px;
height: var(--Height-Container-StartGame);
width: var(--Width-Container-StartGame);
border: 5px solid rgba(0, 0, 0, 0.75);
border-radius: 30px;
background-color: #ffffff10;
backdrop-filter: blur(12px);
-webkit-backdrop-filter: blur(12px);
}

/* * Linea Verticale Separatoria */
.Vertical-Line{
position: absolute;
left: 800px;
border-left: 5px solid rgba(0, 0, 0, 0.75);
height: var(--Height-Vertical-Line);
}

/* * Linea Orizzontale Separatoria */
.Horizontal-Line{
position: absolute;
top: 450px;
left: 800px;
border-top: 5px solid rgba(0, 0, 0, 0.712);
width: var(--Width-Vertical-Line);
}

/* * Container How To Play */
.Container-HowToPlay{
display: flex;
flex-direction: column;
align-items: center;
height: var(--Height-Container-HowToPlay);
width: var(--Width-Container-HowToPlay);
}

/* * Btn Torna Alla Home */
.BackToHomeFromStandardGameMode{
position: absolute;
top: 25px;
left: 25px;
height: 65px;
width: 65px;
}

/* * Titolo How To Play */
.Title-HowToPlay{
margin-top: 30px;
margin-left: 20px;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Title-HowToPlay);
color: var(--Color-HowToPlay);
}
/* * Descrizione Di Come Si Gioca */
.Description-HowToPlay{
position: absolute;
top: 100px;
left: 15px;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Description-HowToPlay);
color: var(--Color-HowToPlay);
}

.Description-HowToPlay li{
margin-top: 70px;
}

/* * Btn Che Fa Partire Il Gioco */
.Btn-StartGame{
position: relative;
margin-top: 580px;
height: var(--Height-Btn-Start);
width: var(--Width-Btn-Start);
background: var(--Background-Btn);
background-size: 300%;  
background-position: left;
transition: background-position 1s;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Btn-Start);
color: #ffffff;
}

.Btn-StartGame:hover{
background-position: right;
}

.Btn-StartGame:before, .Btn-StartGame:after{
content: "";
position: absolute;
width: 100%;
height: 100%;
box-sizing: content-box;
cursor: none;
}

.Btn-StartGame:after{
left: -6px;
top: 0;
border-left: 6px white solid;
border-right: 6px white solid;
}

.Btn-StartGame:before{
top: -6px;
left: 0;
border-top: 6px white solid;
border-bottom: 6px white solid;
}

/* * Container Settaggi Musica In Game */
.Container-Music{
position: absolute;
top: 0px;
left: 805px;
display: flex;
flex-direction: column;
align-items: center;
height: var(--Height-Container-Music);
width: var(--Width-Container-Music);
}

/* * Titolo Settaggi Musica In Game */
.Title-Music{
margin-top: 30px;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Title-Music);
color: var(--Color-Music);
}

/* * Btn Selezione Settaggi Musica In Game */
.MusicSettings form{
position: absolute;
top: 45px;
right: 200px;
background: var(--Music-Background);
width: var(--Music-Width-Form);
height: var(--Music-Height-Form);
border-radius: var(--Music-Border-Radius);
color: var(--Music-Color-Text);
position: relative;
box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
padding: 20px 10px;
display: grid;
grid-template-columns: auto var(--Music-Radio-Size);
align-items: center;
font-family: 'Press Start 2P', cursive;
}

.MusicSettings .Name-Music{
margin-left: -135px;
}

.MusicSettings input[type=radio]{
-webkit-appearance: none;
-moz-appearance: none;
position: relative;
height: var(--Music-Radio-Size);
width: var(--Music-Radio-Size);
outline: none;
margin-left: 10px;
border: 2px solid var(--Music-Radio);
background: transparent;
border-radius: 50%;
display: grid;
justify-self: end;
justify-items: center;
align-items: center;
overflow: hidden;
transition: border 0.5s ease;
}

input[type=radio]::before, form input[type=radio]::after{
content: "";
display: flex;
justify-self: center;
border-radius: 50%;
}

input[type=radio]::before{
position: absolute;
width: 100%;
height: 100%;
background: var(--Music-Background);
z-index: 1;
opacity: 1;
}

input[type=radio]::after{
position: relative;
width: calc(100% / 2);
height: calc(100% / 2);
top: var(--y, 100%);
transition: top 0.5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
}

.Btn-Disabled input[type=radio]::after{
background: var(--Music-CheckedDisabled);
}

.Btn-Enable input[type=radio]::after{
background: var(--Music-CheckedEnabled);
}

.Btn-FocusModeEnable input[type=radio]::after{
background: var(--Music-CheckedFocusModeEnabled);
}

.Btn-Disabled input[type=radio]:checked{
--Music-Radio: var(--Music-CheckedDisabled);
}

.Btn-Enable input[type=radio]:checked{
--Music-Radio: var(--Music-CheckedEnabled);
}

.Btn-FocusModeEnable input[type=radio]:checked{
--Music-Radio: var(--Music-CheckedFocusModeEnabled);
}

input[type=radio]:checked::after{
--y: 0%;
-webkit-animation: stretch-animate 0.3s ease-out 0.17s;
animation: stretch-animate 0.3s ease-out 0.17s;
}

input[type=radio]:checked::before{
--opacity: 0;
}

input[type=radio]:checked ~ input[type=radio]::after{
--y: -100%;
}

input[type=radio]:not(:checked)::before {
--opacity: 1;
transition: opacity 0s linear 0.5s;
}

@-webkit-keyframes stretch-animate{
0% {transform: scale(1, 1);}
28% {transform: scale(1.15, 0.85);}
50% {transform: scale(0.9, 1.1);}
100% {transform: scale(1, 1);}
}
  
@keyframes stretch-animate{
0% {transform: scale(1, 1);}
28% {transform: scale(1.15, 0.85);}
50% {transform: scale(0.9, 1.1);}
100% {transform: scale(1, 1);}
}

/* * Descrizione Dei Settaggi Della Musica */
.Description-SettingsMusic{
position: absolute;
top: 135px;
left: 15px;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Description-Music);
color: var(--Color-Music);
}

.Description-SettingsMusic li{
padding-top:  50px;
margin-left: 240px;
}

/* * Container Seleziona Un Colore */
.Container-ChooseColor{
position: absolute;
top: 455px;
left: 805px;
display: flex;
flex-direction: column;
align-items: center;
height: var(--Height-Container-ChooseColor);
width: var(--Width-Container-ChooseColor);
}

/* * Titolo Seleziona Un Colore */
.Title-ChooseColor{
margin-top: 30px;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Title-ChooseColor);
color: var(--Color-ChooseColor);
}

/* * Btn Selezione Un Colore  */
.ChooseColor-Settings form{
position: absolute;
top: 45px;
right: 200px;
background: var(--ChooseColor-Background);
width: var(--ChooseColor-Width-Form);
height: var(--ChooseColor-Height-Form);
border-radius: var(--ChooseColor-Border-Radius);
color: var(--ChooseColor-Color-Text);
position: relative;
box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
padding: 10px 1px;
display: grid;
grid-template-columns: auto var(--ChooseColor-Radio-Size);
align-items: left;
font-family: var(--Font-Family);
}

.ChooseColor-Settings .Name-ChooseColor{
margin-left: -135px;
}

input[type=radio]{
-webkit-appearance: none;
-moz-appearance: none;
position: relative;
height: var(--ChooseColor-Radio-Size);
width: var(--ChooseColor-Radio-Size);
outline: none;
margin-left: 25px;
border: 2px solid var(--ChooseColor-Radio);
background: transparent;
border-radius: 50%;
display: grid;
justify-self: end;
justify-items: center;
align-items: center;
overflow: hidden;
transition: border 0.5s ease;
}

form input[type=radio]::before, form input[type=radio]::after {
content: "";
display: flex;
justify-self: center;
border-radius: 50%;
}

form input[type=radio]::before {
position: absolute;
width: 100%;
height: 100%;
background: var(--background);
z-index: 1;
opacity: var(--opacity, 1);
}

form input[type=radio]::after {
position: relative;
width: calc(100% / 2);
height: calc(100% / 2);
top: var(--y, 100%);
transition: top 0.5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
}

.Btn-Yellow input[type=radio]::after {
background: var(--ChooseColor-CheckedYellow);
}

.Btn-Orange input[type=radio]::after {
background: var(--ChooseColor-CheckedOrange);
}

.Btn-Red input[type=radio]::after {
background: var(--ChooseColor-CheckedRed);
}

.Btn-Purple input[type=radio]::after {
background: var(--ChooseColor-CheckedPurple);
}

.Btn-Blue input[type=radio]::after{
background: var(--ChooseColor-CheckedBlue);
}

.Btn-Green input[type=radio]::after{
background: var(--ChooseColor-CheckedGreen);
}

.Btn-Yellow input[type=radio]:checked{
--ChooseColor-Radio: var(--ChooseColor-CheckedYellow);
}

.Btn-Orange input[type=radio]:checked{
--ChooseColor-Radio: var(--ChooseColor-CheckedOrange);
}

.Btn-Red input[type=radio]:checked{
--ChooseColor-Radio: var(--ChooseColor-CheckedRed);
}

.Btn-Purple input[type=radio]:checked{
--ChooseColor-Radio: var(--ChooseColor-CheckedPurple);
}

.Btn-Blue input[type=radio]:checked{
--ChooseColor-Radio: var(--ChooseColor-CheckedBlue);
}

.Btn-Green input[type=radio]:checked{
--ChooseColor-Radio: var(--ChooseColor-CheckedGreen);
}

form input[type=radio]:checked::after {
--y: 0%;
-webkit-animation: stretch-animate 0.3s ease-out 0.17s;
animation: stretch-animate 0.3s ease-out 0.17s;
}

form input[type=radio]:checked::before {
--opacity: 0;
}

form input[type=radio]:checked ~ input[type=radio]::after {
--y: -100%;
}

form input[type=radio]:not(:checked)::before {
--opacity: 1;
transition: opacity 0s linear 0.5s;
}

@-webkit-keyframes stretch-animate {
0% {transform: scale(1, 1);}
28% {transform: scale(1.15, 0.85);}
50% {transform: scale(0.9, 1.1);}
100% {transform: scale(1, 1);}
}
  
@keyframes stretch-animate {
0% {transform: scale(1, 1);}
28% {transform: scale(1.15, 0.85);}
50% {transform: scale(0.9, 1.1);}
100% {transform: scale(1, 1);}
}

/* * Descrizione Selezione Un Colore */
.ListDescription-ChooseColor{
position: absolute;
top: 150px;
left: 30px;
font-family: var(--Font-Family);
font-size: var( --Font-Size-Description-ChooseColor);
color: var(--Color-ChooseColor);
}

.ListDescription-ChooseColor li{
padding-top: 40px;
margin-left: 20px;
}

.Description-ChooseColor{
margin-left: 185px;
}

.Container-Counter{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 470px;
}

#Counter{
font-family: var(--Font-Family);
font-size: 100px;
color: #A5D3FE;
}

.Container-SpawnBakis{
position: absolute;
top: 10px;
left: 10px;
height: 820px;
width: 1900px;
}

#Baki-1{
position: absolute;
height: 100px;
width: 100px;
border: 5px solid rgba(0, 0, 0, 0.75);
border-radius: 50px;
background-color: #A5D3FE;
cursor: none;
}

#Baki-2{
position: absolute;
height: 100px;
width: 100px;
border: 5px solid rgba(0, 0, 0, 0.75);
border-radius: 50px;
background-color: #A5D3FE;
cursor: none;
}

#Baki-3{
position: absolute;
height: 100px;
width: 100px;
border: 5px solid rgba(0, 0, 0, 0.75);
border-radius: 50px;
background-color: #A5D3FE;
cursor: none;
}

#Baki-4{
position: absolute;
height: 100px;
width: 100px;
border: 5px solid rgba(0, 0, 0, 0.75);
border-radius: 50px;
background-color: #A5D3FE;
cursor: none;
}

#Baki-5{
position: absolute;
height: 100px;
width: 100px;
border: 5px solid rgba(0, 0, 0, 0.75);
border-radius: 50px;
background-color: #A5D3FE;
cursor: none;
}

#Timer{
position: absolute;
top: 960px;
left: 60px;
font-family: 'Press Start 2P', cursive;
font-size: 35px;
color: #A5D3FE;
}

.Container-FinishGame{
display: flex;
flex-direction: column;
align-items: center;
}

#Finish{
position: absolute;
top: 390px;
left: 480px;
height: 300px;
width: 1000px;
font-family: 'Press Start 2P', cursive;
font-size: 60px;
text-align: center;
color: #A5D3FE;
}

.FinalScore{
position: absolute;
top: 550px;
left: 480px;
height: 300px;
width: 1000px;
font-family: 'Press Start 2P', cursive;
font-size: 40px;
text-align: center;
color: #A5D3FE;
}

#Points{
position: absolute;
top: 943px;
left: 920px;
font-family: 'Press Start 2P', cursive;
font-size: 50px;
color: #A5D3FE;
}

.Btn-Restart{
position: absolute;
top: 700px;
left: 675px;
height: var(--Height-Btn);
width: var(--Width-Btn);
background: var(--Background-Btn);
background-size: 300%;  
background-position: left;
transition: background-position 1s;
font-family: var(--Font-Family);
font-size: var(--Font-Size-Btn);
color: #ffffff;
}

.Btn-Restart:hover{
background-position: right;
}

.Btn-Restart:before, .Btn-Restart:after{
content: "";
position: absolute;
width: 100%;
height: 100%;
box-sizing: content-box;
cursor: none;
}

.Btn-Restart:after{
left: -6px;
top: 0;
border-left: 6px white solid;
border-right: 6px white solid;
}

.Btn-Restart:before{
top: -6px;
left: 0;
border-top: 6px white solid;
border-bottom: 6px white solid;
}